h1{
    background-color:coral;
    text-align: center;
    padding: o;
    margin: 0;
    border: 1px solid:black;

}
html,body{
    background-color:cornflowerblue;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: auto;
}
h3{
    color: coral;
}








